<h1>Add a new place</h1>

<form action="/places" method="POST">
  <label for="name">Place name:</label>
  <input type="text" name="name" id="name" required>

  <br><br>
  <input type="submit" value="Submit">
</form>

<br>
<a href="/places">Back to places</a>
